<p>Forgot password...</p>
<!-- <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card mt-5">
          <div class="card-header text-center">
            Forgot Password
          </div>
          <div class="card-body">
            <form (ngSubmit)="onForgotPassword()" #forgotPasswordForm="ngForm">
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" name="email" ngModel class="form-control" required>
              </div>
              <button type="submit" class="btn btn-primary w-100" [disabled]="!forgotPasswordForm.valid">Reset Password</button>
            </form>
          </div>
        </div>
      </div>
    </div> 
  </div>
    -->
  