@import "../../node_modules/bootstrap/dist/css/bootstrap.css"
@import "../dss-bootstrap-theme/custom/variables"

body 
  background-color: $bg-color

container
  margin-top: 200px

h1 
  color: $wb-blue-darken-5
  font-family: "Pacifica"

